body {
    /*background-image: url('../imgs/bg2.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-attachment: fixed;*/
    background-color: rgba(95, 158, 160, 0.5);
}

a:link, a:visited {
    color: dodgerblue;
    text-decoration: none;
}

a:hover, a:active {
    color: white;
}

main {

}
.icp {
    text-align: center;
}